td
  height 21px
  max-height 21px

.position-abs
  position relative
  width 100%
  background-color rgba(255, 0, 0, 0.2)


//==============================================================================
// Background rows
//==============================================================================
$h-row
  height 37px*8

for row in (1..40)
  .h-{row}
    top 37px * row
    @extends $h-row

.table-bg
  position absolute
  top 0
  width 100%
  height 500px
  background-color rgba(255, 255, 0, 0.2)
  margin-top 37px

.table-bg__line
  width 100%
  height 37px
  border-top 1px solid grey


//==============================================================================
// Table with timeslots
//==============================================================================
.table-timeslots
  margin-top 37px
  width 100%
  thead td
    height 37px

.bookings-container
  .fullheight
    height 2000px
    position absolute
    z-index 1
  td
    position relative
    // height 30000px

.bookings-container__bg
    height 2000px
    position absolute
    z-index 1
    width 100%
    top 0

.bookings-container__bg__timeslot
  height 38px
  background-color rgba(255, 255, 255, 0.2)

.bookings-container__booking
  position absolute
  width 95%
  background-color rgba(0, 255, 255, 0.2)
  z-index 2


//==============================================================================
// Draggable resizable
//==============================================================================
.contentEditorBox
  border: 1px solid black
  background-color: white
  width: 50px
  height: 50px

.draggable
  position: absolute
  top: 2px
  left: 2px
  width: calc(100% - 4px)
  height: calc(100% - 4px)
  cursor: pointer

$resizer
  background-color rgba(0, 255, 255, 0.7)
  position absolute

.n-resize
  @extends $resizer
  top: -3px
  left: 0px
  width: 100%
  height: 5px
  cursor: n-resize

.e-resize
  @extends $resizer
  top: 0px
  left: calc(100% - 2px)
  width: 5px
  height: 100%
  cursor: w-resize

.s-resize
  @extends $resizer
  top: calc(100% - 2px)
  left: 0px
  width: 100%
  height: 5px
  cursor: s-resize

.w-resize
  @extends $resizer
  top: 0px
  left: -3px
  width: 5px
  height: 100%
  cursor: e-resize

.nw-resize
  @extends $resizer
  top: -3px
  left: -3px
  width: 7px
  height: 7px
  cursor: nw-resize

.ne-resize
  @extends $resizer
  top: -3px
  left: calc(100% - 4px)
  width: 7px
  height: 7px
  cursor: ne-resize

.se-resize
  @extends $resizer
  top: calc(100% - 4px)
  left: calc(100% - 4px)
  width: 7px
  height: 7px
  cursor: se-resize

.sw-resize
  @extends $resizer
  top: calc(100% - 4px)
  left: -3px
  width: 7px
  height: 7px
  cursor: sw-resize

