
/* line 286 : /Users/agata/Documents/work/playground/booking-system2/stylus/main.styl */

/* line 1 : /Users/agata/Documents/work/playground/booking-system2/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 14 : /Users/agata/Documents/work/playground/booking-system2/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 124 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/index.styl */

/* line 10 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/index.styl */

/* line 1 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/border.styl */

/* line 28 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/border.styl */

/* line 1 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/clearfix.styl */

/* line 4 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/clearfix.styl */

/* line 541 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/color-image.styl */

/* line 196 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/color-image.styl */

/* line 1 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/flex.styl */

/* line 90 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/flex.styl */

/* line 124 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/gradients.styl */

/* line 11 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/gradients.styl */

/* line 1 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/config.styl */

/* line 7 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/config.styl */

/* line 541 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/iconic.styl */

/* line 25 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/iconic.styl */

/* line 1 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/image.styl */

/* line 19 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/image.styl */

/* line 124 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/normalize/index.styl */

/* line 8 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/normalize/index.styl */

/* line 541 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/normalize/base.styl */

/* line 19 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/normalize/base.styl */

/* line 541 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/normalize/html5.styl */

/* line 6 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/normalize/html5.styl */

/* line 541 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/normalize/links.styl */

/* line 30 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/normalize/links.styl */

/* line 541 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/normalize/text.styl */

/* line 7 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/normalize/text.styl */

/* line 541 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/normalize/embed.styl */

/* line 17 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/normalize/embed.styl */

/* line 541 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/normalize/groups.styl */

/* line 69 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/normalize/groups.styl */

/* line 541 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/normalize/forms.styl */

/* line 7 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/normalize/forms.styl */

/* line 541 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/normalize/tables.styl */

/* line 20 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/normalize/tables.styl */

/* line 1 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/overflow.styl */

/* line 66 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/overflow.styl */

/* line 541 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/positions.styl */

/* line 78 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/positions.styl */

/* line 541 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/reset.styl */

/* line 124 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/text/index.styl */

/* line 12 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/text/index.styl */

/* line 1 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/text/aliases.styl */

/* line 9 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/text/aliases.styl */

/* line 1 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 8 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 1 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 1 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 2 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 541 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 577 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 541 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/vendor.styl */

/* line 11 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/vendor.styl */

/* line 1 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/config.styl */

/* line 28 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/config.styl */

/* line 1 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/size.styl */

/* line 124 : /Users/agata/Documents/work/playground/booking-system2/node_modules/nib/lib/nib/size.styl */

/* line 124 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */

/* line 1 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
td {
  height: 21px;
  max-height: 21px;
}

/* line 5 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.position-abs {
  position: relative;
  width: 100%;
  background-color: rgba(255,0,0,0.2);
}

/* line 14 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.h-1,
.h-2,
.h-3,
.h-4,
.h-5,
.h-6,
.h-7,
.h-8,
.h-9,
.h-10,
.h-11,
.h-12,
.h-13,
.h-14,
.h-15 {
  height: 296px;
}

/* line 18 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.h-1 {
  top: 37px;
}

/* line 18 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.h-2 {
  top: 74px;
}

/* line 18 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.h-3 {
  top: 111px;
}

/* line 18 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.h-4 {
  top: 148px;
}

/* line 18 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.h-5 {
  top: 185px;
}

/* line 18 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.h-6 {
  top: 222px;
}

/* line 18 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.h-7 {
  top: 259px;
}

/* line 18 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.h-8 {
  top: 296px;
}

/* line 18 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.h-9 {
  top: 333px;
}

/* line 18 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.h-10 {
  top: 370px;
}

/* line 18 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.h-11 {
  top: 407px;
}

/* line 18 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.h-12 {
  top: 444px;
}

/* line 18 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.h-13 {
  top: 481px;
}

/* line 18 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.h-14 {
  top: 518px;
}

/* line 18 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.h-15 {
  top: 555px;
}

/* line 22 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.table-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 500px;
  background-color: rgba(255,255,0,0.2);
  margin-top: 37px;
}

/* line 30 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.table-bg__line {
  width: 100%;
  height: 37px;
  border-top: 1px solid #808080;
}

/* line 39 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.table-timeslots {
  margin-top: 37px;
}

/* line 41 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.table-timeslots thead td {
  height: 38px;
}

/* line 48 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.contentEditorBox {
  border: 1px solid #000;
  background-color: #fff;
  width: 50px;
  height: 50px;
}

/* line 54 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.draggable {
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  cursor: pointer;
}

/* line 62 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.n-resize {
  position: absolute;
  top: -3px;
  left: 0px;
  width: 100%;
  height: 5px;
  cursor: n-resize;
}

/* line 70 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.e-resize {
  position: absolute;
  top: 0px;
  left: calc(100% - 2px);
  width: 5px;
  height: 100%;
  cursor: w-resize;
}

/* line 78 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.s-resize {
  position: absolute;
  top: calc(100% - 2px);
  left: 0px;
  width: 100%;
  height: 5px;
  cursor: s-resize;
}

/* line 86 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.w-resize {
  position: absolute;
  top: 0px;
  left: -3px;
  width: 5px;
  height: 100%;
  cursor: e-resize;
}

/* line 94 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.nw-resize {
  position: absolute;
  top: -3px;
  left: -3px;
  width: 7px;
  height: 7px;
  cursor: nw-resize;
}

/* line 102 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.ne-resize {
  position: absolute;
  top: -3px;
  left: calc(100% - 4px);
  width: 7px;
  height: 7px;
  cursor: ne-resize;
}

/* line 110 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.se-resize {
  position: absolute;
  top: calc(100% - 4px);
  left: calc(100% - 4px);
  width: 7px;
  height: 7px;
  cursor: se-resize;
}

/* line 118 : /Users/agata/Documents/work/playground/booking-system2/stylus/all.styl */
.sw-resize {
  position: absolute;
  top: calc(100% - 4px);
  left: -3px;
  width: 7px;
  height: 7px;
  cursor: sw-resize;
}
