tbody {
}

td {
  height: 21px;
  max-height: 21px;
}

.position-abs {
  position: relative;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.2)
}

.h-2 {
  top:  74px;
}
.h-3 {
  top:  111px;
}
.h-7 {
  top:  259px;
}