<div class="col-md-6" >
  <p class="input-group">

    <input
      type="text"
      class="form-control"
      datepicker-popup="{{daypicker.format}}"
      ng-model="dat"
      is-open="daypicker.opened"
      min-date="daypicker.minDate"
      max-date="'2015-06-22'"
      datepicker-options="daypicker.dateOptions"
      date-disabled="daypicker.disabled(date, mode)"
      ng-required="true"
      close-text="Close" />

    <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="daypicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>

    </p>
</div>