<div class="container">
  <h2>Overview</h2>
  <div class="row" >
    <day-picker dat="dt"></day-picker>
  </div>

  <div class="row" style="position: relative;">
    <div class="table-bg">
      <div class="table-bg__line"></div>
      <div class="table-bg__line"
       ng-repeat="(ind, hour) in hours" 
       >
        {{hour.string}}
      </div>
    </div>


    <table class="table-timeslots">
      <thead>
        <td>Time</td>
        <td ng-repeat="table in tables">{{table.name}} ({{table.maxPeople}})</td>
      </thead>
      <tbody>
        <tr class="bookings-container">
          <td>

          </td>
          <td ng-repeat="table in tables" class="draggable-container">
            <div class="bookings-container__bg">
              <div class="bookings-container__bg__timeslot"
              ng-repeat="(ind, hour) in hours"
              ng-click="onTDClicked($event, ind, table.$id, hour.datetime)"></div>
            </div>

            <div 
             ng-repeat="(key, value) in day[table.$id]"
             ng-class="{{['h-' + value.startTimeSlotIndex, 'bookings-container__booking']}}"
             ce-drag ce-resize
             >
              {{table.$id}}} -- {{key}}
            </div>
          </td>
        </tr>

        <!-- <tr
          ng-repeat="(ind, hour) in hours"
          ng-class="{{['h-' + hour.datetime.valueOf()]}}">

          <td>{{hour.string}}</td>
          <td
            class="tid-{{table.$id}}"
            ng-class="{danger: day2[table.$id][hour.string]}"
            data-tableid="{{table.$id}}"
            data-timestring="{{hour.string}}"
            data-datetime="{{hour.datetime.valueOf()}}"
            ng-repeat="table in tables"
            ng-click="onTDClicked($event, ind, table.$id, hour.datetime)">
              {{ind}}
          </td>

        </tr> -->
      </tbody>
    </table>

  </div>
</div>